<hr>
<h3><center> Ad space </center></h3>
<hr>


<div class="center-text span-4">  <!-- span-4 is 164px wide -->

	<p> Left Column</p>
	<div class="center-text span-4">  
	<%= image_tag("left_ad.png", :alt => "Left Ad", :class => "#", :size => "164x150")%>
	<br><br> 
	</div>
	
	
	
	<div class "center-text span-4">
	<p class="small"><i>
		-Generated advertisement<br>
		-Generated advertisement<br>
		-Generated advertisement<br>
	</div>
	
	<div class "center-text span-4">
	<p class="small"><i>
		#Link to News Article<br>
		#Link to News Article<br>
		#Link to News Article<br>
	</i></p>
	</div>
	
	
</div>

<div class="center-text span-9"> <!-- span-9 is 374px wide -->
			
	<p>Center Column</p>
		
</div>

<div class="center-text span-4 last">

	<p>Third Column</p>
		
</div>
